@charset "utf-8";

body{
  background-color:yellow;
}

#logo ul{
overflow:hidden;  
}

#logo li{
 float:left;
  list-style-type:none;
}

#logo img{
width:100px;  
}

#gnav a{
display:block;
  padding:10px 0;
  text-align:center;
  text-decoration:none;
  background:darkgreen;
  color:white;
}
#gnav a:after{
  clear:both;
}
#gnav div.img{
display: table-cell;
  vertical-align:middle;
  background:url(../img/icon.jpg)no-repeat;
  width:55px;
  height:46px;
}
#gnav div.text{
  display:table-cell;
    vertical-align:middle;
  padding:10px 5px;
}
div.{background-position:0 0px;}
div.{background-position:0 -46px;}
div.{background-position:0 -92px;}
div.{background-position:0 -138px;}
div.{background-position:0 -184px;}

#gnav li{
  overflow:hidden;
}

#gnav li{
  float:left;
  width:156px;
  border-right:white 1px solid;
  list-style-type:none;
}

#gnav li :first-child{
border-left:white 1px solid;
}
  
.breadcrumbs li{
  display: inlime;
  list-style-type:none;
}

.breadcrumbs li:before{
  content:">";
}
.breadcrumbs li:first-child:before{
  content:"";
}
  
